<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>513083955437-p66f8qqce987taspnkadpfs1sd8l805l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.513083955437-p66f8qqce987taspnkadpfs1sd8l805l</string>
	<key>API_KEY</key>
	<string>AIzaSyBLVY4_C3VJnGp2GA-UmfRObkF5d2mcGD4</string>
	<key>GCM_SENDER_ID</key>
	<string>513083955437</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.daml.JE-Studio</string>
	<key>PROJECT_ID</key>
	<string>je-studio-30c9c</string>
	<key>STORAGE_BUCKET</key>
	<string>je-studio-30c9c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:513083955437:ios:f2da63f51f5a5bba5dd4e4</string>
	<key>DATABASE_URL</key>
	<string>https://je-studio-30c9c-default-rtdb.firebaseio.com</string>
</dict>
</plist>